<div class="container mt-80">
  <div class="header">
    <span *ngIf="myuser == undefined || myuser == null">Edit your profile</span>
    <span *ngIf="myuser != undefined || myuser != null">{{user.username}}'s profile</span>
  </div>

  <div class="container flex mt-20">
    <img  class="user-image" [src]="user.imagePath ? '../../../../../assets/images/profiles/' + user.imagePath : '../../../../assets/icons/user-icon.png'" (click)="filePicker.click()" />
    <input type="file" #filePicker (change)="onImagePicked($event)">
  </div>

  <div class="rating align-center">
    <span class='star-rating' [title]="user.rating">
    <ng-container>
      <span>{{user.reviews}} reviews</span> <br/>
      <i *ngFor='let n of range; let $index = index;' class="to-display" [ngClass]='isMarked($index)'></i>
    </ng-container>
    </span>
    <span><i class="far fa-calendar-alt"></i> {{user.joinDate}}</span>
  </div>

  <div class="pickers flex mt-20">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="myuser == undefined || myuser == null">Change your profile description</span>
            <span *ngIf="myuser != undefined || myuser != null">{{user.username}}'s profile description</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="form-validate" #f="ngForm" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(f.valid)">

          <div class="input-material">
            <mat-form-field>
              <input matInput placeholder="Full name" formControlName="name" required class="name"
                     [(ngModel)]="user.name">
              <mat-error>{{ formErrors.name }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-material" >
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" [(ngModel)]="user.username">
            </mat-form-field>
          </div>

          <div class="input-material">
            <mat-form-field>
              <input matInput placeholder="Price per minute" formControlName="price" required [(ngModel)]="user.price">
              <mat-error>{{ formErrors.price }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-material" *ngIf="currentUser == user.username">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required type="email"
                     [(ngModel)]="user.email">
              <mat-error>{{ formErrors.email }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-material" *ngIf="currentUser == user.username">
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" required type="password"
                     [(ngModel)]="user.password">
              <mat-error>{{ formErrors.password }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-material">
            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description"
                        [(ngModel)]="user.description"></textarea>
            </mat-form-field>
          </div>

          <div class="input-material" *ngIf="currentUser == user.username">
            <mat-form-field>
              <mat-label>Categories</mat-label>
              <mat-select formControlName="categories" multiple [(ngModel)]="user.categories">
                <mat-option *ngFor="let category of categoriesList" [value]="category.title" >{{category.title}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-material" *ngIf="currentUser != user.username">
            <mat-chip-list>
              <mat-chip color="primary" selected *ngFor="let cat of user.categories">{{cat}}</mat-chip>
            </mat-chip-list>
          </div>

          <div class="form-group mt-20" *ngIf="currentUser == user.username">
            <button type="submit" mat-raised-button color="primary">Update profile</button>
          </div>

        </form>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reviews
          </mat-panel-title>
          <mat-panel-description>
            <span>List of reviews</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="reviews" class="mat-elevation-z8" *ngIf="reviews?.length > 0">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Date</th>
            <td mat-cell *matCellDef="let review"> {{review.date}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> User</th>
            <td mat-cell *matCellDef="let review"> {{review.username1}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Rating</th>
            <td mat-cell *matCellDef="let review">
                <span class='star-rating' [title]="review.rating">
                <ng-container>
                  <i *ngFor='let n of range; let $index = index;' class="to-display"
                     [ngClass]='isMarkedReviews($index,review.rating)'></i>
                </ng-container>
                </span>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Review</th>
            <td mat-cell *matCellDef="let review"> {{review.review}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h5 class="align-center" *ngIf="reviews?.length == 0">0 reviews</h5>

      </mat-expansion-panel>
    </mat-accordion>

    <div class="form-group mt-20" *ngIf="currentUser != user.username">
      <button type="button" mat-raised-button color="primary" class="align-center-block"
              (click)="connectUser(user.username)">Connect
      </button>
    </div>
  </div>


</div>
