.mat-toolbar.mat-primary {
  color: white;
  position: fixed;
  z-index: 99999999;
  border-bottom: 1px solid lightblue;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 55px;
  top: 0;
}

.center-nav-body {
  width: 70%;
  margin: 0 auto;
}

.left-area-nav {
  width: 50%;
  float:left;
}

a{
  color: white;
  text-decoration: none;
}

.left-area-nav img {
  height: 30px;
  margin-left: 10px;
  vertical-align: middle;
}

.left-area-nav span {
  vertical-align: middle;
}

.right-area-nav {
  width: 50%;
  float: right;
}

.user-icon {
  width: 35px;
  float: right;
  cursor: pointer;
  margin-left: 5px;
}

.user-status {
  height: 13px;
  width: 13px;
  background-color: #0cc50c;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  top: -3px;
}

button:focus {
  outline: none;
}

.status-container {
  position: relative;
  width: 0;
  float: right;
}
