<mat-toolbar color="primary">
  <div class="center-nav-body">
    <div class="left-area-nav">
      <a routerLink="home">
        <span>AskMe</span>
        <img src="../../../../assets/icons/logo.png">
      </a>
    </div>

    <div class="right-area-nav">
      <button mat-button class="float-right" routerLinkActive="mat-accent"  *ngIf="userIsAuthenticated" (click)="onLogout()" i>Logout</button>
      <button [routerLink]="['/auth/login']" mat-button class="float-right" routerLinkActive="mat-accent"  *ngIf="!userIsAuthenticated">Login</button>
      <button [routerLink]="['/auth/register']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Register</button>
      <button [routerLink]="['/posts']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Posts</button>
      <button [routerLink]="['/stream']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Stream</button>
      <button [routerLink]="['/ask/categories']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Ask</button>
      <button  mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated && userType == 'false'" color="warn" (click)="updateType()">Change to Buyer</button>
      <button  mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated && userType == 'true'" color="warn" (click)="updateType()">Change to Seller</button>
    </div>
  </div>
</mat-toolbar>
