<mat-toolbar color="primary">
  <div class="center-nav-body">
    <div class="left-area-nav">
      <a routerLink="home">
        <span>AskMe</span>
        <img src="../../../../assets/icons/logo.png">
      </a>
    </div>

    <div class="right-area-nav">
      <button [routerLink]="['/auth/login']" mat-button class="float-right" routerLinkActive="mat-accent"
              *ngIf="!userIsAuthenticated">Login
      </button>
      <button [routerLink]="['/auth/register']" mat-button class="float-right" routerLinkActive="mat-accent"
              *ngIf="!userIsAuthenticated">Register
      </button>
      <!--      <button [routerLink]="['/posts']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Posts</button>-->
      <!--      <button [routerLink]="['/stream']" mat-button class="float-right" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Stream</button>-->
      <img class="user-icon"
           [src]="user.imagePath ? '../../../../../assets/images/profiles/' + user.imagePath : '../../../../assets/icons/user-icon.png'"
           *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu"/>
      <div class="status-container" *ngIf="userIsAuthenticated">
        <span class="user-status"></span>
      </div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item routerLinkActive="mat-accent" routerLink="/user/account"><i
          class="fas fa-user-edit mr-1"></i>My profile
        </button>
        <button mat-menu-item routerLinkActive="mat-accent" routerLink="/user/logs" *ngIf="userType == 'false'"><i
          class="fas fa-hand-holding-usd mr-1"></i>Earnings
        </button>
        <button mat-menu-item routerLinkActive="mat-accent" routerLink="/user/logs" *ngIf="userType == 'true'"><i
          class="fas fa-wallet mr-1"></i>Payments
        </button>
        <button mat-menu-item routerLinkActive="mat-accent" (click)="onLogout()"><i
          class="fas fa-sign-out-alt mr-1"></i>Logout
        </button>
      </mat-menu>
      <div class="float-right position-relative" *ngIf="userIsAuthenticated">
        <div (click)="showNotifications = !showNotifications">
          <i class="far fa-bell" [ngClass]="notifications.length > 0 && newNots > 0 ? 'fas fa-bell' : 'far fa-bell'"
             title="Notifications"></i>
          <span class="notifications-counter" *ngIf="notifications?.length > 0">{{newNots}}</span>
        </div>
        <div [ngClass]="{'in': showNotifications}" *ngIf="showNotifications" class="notifications-block">
          <div *ngFor="let n of notifications; let i = index"
               [ngClass]="{'new-not': n.checked == false, 'checked-not': n.checked == true}"
               [ngStyle]="{'border-top' : i==0 ? 'none' : '1px solid white'}">
            {{n.message}}
            <i class="fas fa-circle" title="Mark as read" (click)="readNotification(n)"></i>
          </div>
        </div>
      </div>
      <button [routerLink]="['/ask/categories']" mat-button class="float-right" routerLinkActive="mat-accent"
              *ngIf="userIsAuthenticated && userType == 'true'">Ask
      </button>
      <button mat-button class="float-right" routerLinkActive="mat-accent"
              *ngIf="userIsAuthenticated && userType == 'false'" (click)="updateType()">Change to Buyer
      </button>
      <button mat-button class="float-right" routerLinkActive="mat-accent"
              *ngIf="userIsAuthenticated && userType == 'true'" (click)="updateType()">Change to Seller
      </button>
    </div>
  </div>
</mat-toolbar>
