<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<section id="header-home">
  <div class="header-background1"></div>
  <div class="header-background2"></div>
  <span class="floating-hand"></span>
  <div class="container">
    <div id="floatingBox">
      <img src="../../../../assets/icons/logo.png">
      <h1 class="title">
        ASK ME <br/>
        Your answers are in the right place
      </h1>
    </div>
  </div>
</section>

<section id="about-askme">
  <div class="container">
    <div class="services-image">
      <div class="left-image-wrapper">
        <div class="about-image-layer1"></div>
        <div class="about-image-layer2"></div>
        <div class="services-images-layers about-images">
          <div class="about-image-layer3"></div>
          <div class="about-image-layer4"></div>
          <div class="about-image-layer5"></div>
        </div>
      </div>
    </div>
    <div class="services-text">
      <div>
        <h3>
            <span class="services-text-title">
              Smart & Simple
            </span>
          <span class="about-subtitle">(oh, and friendly)</span>
        </h3>
        <p class="services-description">
          A dog is man’s best friend, just like AskME is your life’s best bud. We design and develop all sorts of
          digital products — from websites to web and mobile apps, among others — that are loyal to both your business
          objectives and your users’ needs. What a treat,&nbsp;right?
        </p>
      </div>
    </div>
  </div>
</section>

<section id="answers-askme">
  <div class="container">
    <div class="services-text">
      <div>
        <h3>
            <span class="services-text-title">
              Find Answers
            </span>
          <span class="about-subtitle">(stop wasting time)</span>
        </h3>
        <p class="services-description">
          Planning a lot of moves ahead is the difference between a long and prosperous business and being at a
          stalemate. Design is queen here — personally, we feel over the moon about it, and we take pleasure in
          spreading a design thinking mentality throughout your organization.
        </p>
      </div>
    </div>
    <div class="services-image">
      <div class="left-image-wrapper">
        <div class="answers-image-layer1"></div>
        <div class="answers-image-layer2"></div>
        <div class="services-images-layers answers-images">
          <div class="answers-image-layer3"></div>
          <div class="answers-image-layer4"></div>
          <div class="answers-image-layer5"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ideas-askme">
  <div class="container">
    <div class="services-image">
      <div class="left-image-wrapper">
        <div class="ideas-image-layer1"></div>
        <div class="ideas-image-layer2"></div>
        <div class="services-images-layers ideas-images">
          <div class="ideas-image-layer3"></div>
          <div class="ideas-image-layer4"></div>
          <div class="ideas-image-layer5"></div>
          <div class="ideas-image-layer6"></div>
        </div>
      </div>
    </div>
    <div class="services-text">
      <div>
        <h3>
            <span class="services-text-title">
              Get Inspired
            </span>
        </h3>
        <p class="services-description">
          A few nasty creatures can sometimes leave paw prints all over your solutions and keep them from shining like
          they should — between us, we always suspect Nargles are behind it. We help you put a finger on the suckers and
          improve the usability of your products and services.
        </p>
      </div>
    </div>
  </div>
</section>
