<div class="component-rgb-background">
  <div class="header-background1"></div>
  <div class="header-background2"></div>
  <div class="container">
    <div class="header">
      <span>Register</span>
    </div>
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form  *ngIf="!isLoading" class="form-login" (ngSubmit)="submitForm(f)" #f="ngForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" type="email" ngModel required email name="email" #email="ngModel">
          <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="Password" ngModel required name="password" #password="ngModel">
          <mat-error *ngIf="password.invalid">Please enter the password</mat-error>
        </mat-form-field>

        <mat-error *ngIf="badCredentials" style="margin-top: 10px;">Email address already in use.</mat-error>
        <button type="submit" mat-raised-button color="primary">Sign up</button>
      </form>
    </mat-card>
  </div>
</div>
