<div class="container mt-80">
  <div class="header">
    <span>ASK - Get answers right now!</span>
  </div>

  <mat-horizontal-stepper labelPosition="bottom" #stepper [linear]="true">
    <mat-step [completed]="categorySelected">
      <ng-template matStepLabel>Choose category</ng-template>

      <div class="row">
        <ng-container *ngFor="let grid of categoriesList; let i = index;">
          <div class="col-lg-2 grid">
            <div>
              <div class="header-title">{{grid.title}}</div>
              <div class="icon"><i class="{{grid.class}}"></i></div>
            </div>
          </div>
<!--          <tr *ngIf="i % 6 == 0"></tr>-->
        </ng-container>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
