<mat-card>

  <form class="example-form" (ngSubmit)="addPost(form)" #form>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title..." name="title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Content..." name="content"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>


  <table mat-table [dataSource]="posts" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let post"> {{post.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content</th>
      <td mat-cell *matCellDef="let post"> {{post.content}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="secondary" (click)="getPosts();">Get Posts</button>
</mat-card>
