<div class="container mt-80">
  <div class="header">
        <span *ngIf="userType == 'true'">Payments</span>
        <span *ngIf="userType == 'false'">Earnings</span>
  </div>

  <div class="align-center mt-20">
    <h3 *ngIf="userType == 'false'"><i class="fas fa-hand-holding-usd"></i>Total earned: {{totalPoints}}</h3>
    <h3 *ngIf="userType == 'true'"><i class="fas fa-wallet"></i>Total payed: {{totalPoints}}</h3>
  </div>

  <table mat-table [dataSource]="logs" class="mat-elevation-z8 mt-20" *ngIf="logs?.length > 0">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="datestart">
      <th mat-header-cell *matHeaderCellDef> Date Start</th>
      <td mat-cell *matCellDef="let log"> {{log.dateStart}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateend">
      <th mat-header-cell *matHeaderCellDef> Date End</th>
      <td mat-cell *matCellDef="let log"> {{log.dateEnd}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="username1">
      <th mat-header-cell *matHeaderCellDef> Payer</th>
      <td mat-cell *matCellDef="let log"> {{log.username1}} </td>
    </ng-container>

    <ng-container matColumnDef="username2">
      <th mat-header-cell *matHeaderCellDef> Earner</th>
      <td mat-cell *matCellDef="let log"> {{log.username2}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price</th>
      <td mat-cell *matCellDef="let log"> {{log.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <h5 class="align-center" *ngIf="reviews?.length == 0">0 reviews</h5>

</div>
