.modal {
  overflow-y: hidden;
  background-color: #6d6d6dbf;
  opacity: 1 !important;
  align-items: center;
}

.input-material {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.input-material > * {
  width: 100%;
}
